<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Framework-less MVC application</title>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>